@media (min-width: 768px) {
  .container {
    max-width: 1440px;
  }
}

.container {
  padding-right: 44px;
  padding-left: 44px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.row {
  margin-right: -18px;
  margin-left: -18px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 18px;
  padding-left: 18px;
}

.content {
  width: 100%;
  height: 73rem;
  background-color: pink;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    height: 65.6rem;
    margin-bottom: 2rem;
  }
}

.news {
  height: 10rem;
  margin-top: 2rem;
  background-color: rgba(212, 212, 212, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-image {
  width: 50%;
  height: 73rem;
  background-image: url('img/1.png');
  background-size: cover;
}

@media (max-width: 768px) {
  .content-image {
    display: none;
  }
}

.content-div {
  width: 50%;
  height: 73rem;
  margin-bottom: 2rem;
  background-color: pink;
}

@media (max-width: 768px) {
  .content-div {
    width: 100%;
    height: 65.6rem;
    margin-bottom: 2rem;
  }
}

.top-buffer { margin-top:20px; }
.flex {
  display: flex;
}